@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

:root {
  --unit: 4px;
  --unit-md: calc(4*var(--unit));
  --unit-lg: calc(8*var(--unit));
  --first-color: #3C3C3C;
  --second-color: #fff;
}

html[data-theme='light'] {
  --first-color: #3C3C3C;
  --second-color: #fff;
}

html[data-theme='dark'] {
  --first-color: #fff;
  --second-color: #3C3C3C;
}

body{
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--first-color);
  margin: var(--unit-lg);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
}

.avatar{
  border-radius: 50%;
  width: 96px;
  height: 96px;
  background-image: url("assets/popotki-avatar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--second-color);
  background-blend-mode: multiply;
  margin:0 auto var(--unit-md) auto;
}

.username{
  margin:0 auto var(--unit-lg) auto;
}

.link{
  text-align: center;
  background: transparent;
  border:4px solid var(--first-color);
  padding: var(--unit-md) var(--unit-lg);
  color: var(--first-color);
  text-decoration: none;
}

.link:hover{
  background: var(--first-color);
  color: var(--second-color);
}

.link:not(:last-child){
  margin-bottom: var(--unit-md);
}

.post{
  text-align: center;
}

.post__title{
  margin:var(--unit-md) 0 var(--unit-lg) 0;
}
